"*":
  "atom-typescript": {}
  core:
    disabledPackages: [
      "symbols-view"
      "riot"
      "saveallthetime"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "8cfa1940-8049-1c50-2dab-6944dfc8f4e5"
  "file-watcher":
    promptWhenChange: true
  "git-plus":
    pullBeforePush: "pull"
    verboseCommit: true
  minimap:
    absoluteMode: true
  welcome:
    showOnStartup: false
  whitespace: {}
