"*":
  "exception-reporting":
    userId: "8cfa1940-8049-1c50-2dab-6944dfc8f4e5"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "symbols-view"
      "riot"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    fontSize: 13
  "git-plus":
    pullBeforePush: "pull"
    verboseCommit: true
  "file-watcher":
    promptWhenChange: true
  whitespace: {}
